* {
  padding: 0px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: cadetblue;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  height: 80px;
  background-color: darkcyan;
  color: #fff;
  display: flex;
  font-size: 30px;
  padding-top: 30px;
}

.songlist {
  width: "40%";
  margin: auto;
  justify-content: center;
  align-content: center;
}

input,
label {
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 3px;
}

td {
  width: 30px;
  padding: 5px;
  color: black;
}

th {
  width: 200px;
  align-content: center;
  margin-top: 20px;
}

.dropdown {
  background-color: white;
  border-radius: 5px;
  padding: 3px;
}

button {
  background-color: white;
  border-radius: 5px;
  padding: 3px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: left;
}

.trashbin {
  width: 25px;
}

.navBar {
  background-color: cadetblue;
  display: flex;
  height: 40px;
  align-items: center;
}

li {
  list-style: none;
  display: inline;
  padding: 10px;
  flex-direction: column;
}

.about {
  height: 100%;
  width: 50%;
  margin: auto;
  align-content: center;
}
